{
  "presets": [
    ["es2015",{
      "targets": {
        "browsers": ["last 2 versions"],
        "modules": false,
        "loose": true
      }
    }],
    ["stage-2"]
  ],
  "plugins": [
    [ "babel-plugin-webpack-alias", { "config": "./webpack.config.js" } ],
    [ "ramda" ]
  ],
  "compact": true
}
