.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.glitch {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  min-width: 100%;
  min-height: 100%;
}

.myHead {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: calc(100% / 5 * 4);
  min-height: calc(100% / 5 * 4);

  z-index: 3;
  margin: auto;
}

.tesseractAnimation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  z-index: 4;
  margin: auto;
}

.tesseractSvg svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  max-height: calc(100% / 8 * 6);
  min-height: calc(100% / 8 * 6);
  z-index: 4;
  margin: auto;
}

.tesseract line {
  stroke: white;
  stroke-width: 1px;
}

.punchline {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  max-height: calc(100% / 4);
  z-index: 5;
  margin: auto;
  color: #fff;
}
.punchline:first-child(1) {
  font-family: catamaran;
  font-size: 1rem;
  font-weight: normal;
}
.punchline:nth-child(2) {
  font-family: catamaran;
  font-size: 2rem;
  font-weight: bolder;
}
.punchline:nth-child(3) {
  font-family: ahamono;
  font-size: 1rem;
  float: right;
}
.background::before {
  content: "";
  position: absolute;
  display: block;
  top: calc(50% - 1px);
  left: 0;
  right: 0;
  width: 100%;
  border: 1px solid #fff;
  z-index: 5;
}
