.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  text-align: center;
}

.gradient {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.glitch {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  min-width: 100%;
  min-height: 100%;
}

.myHead {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  min-height: calc(100% / 5 * 4);
  max-height: calc(100% / 5 * 4);
  margin: auto;
}

.tesseractAnimation {
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: auto;
  margin: auto;
}

.tesseractSvg svg {
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: auto;
  min-height: calc(100% / 8 * 6);
  max-height: calc(100% / 8 * 6);
  margin: auto;
}

.tesseract line {
  stroke: white;
  stroke-width: 1px;
}
.background::before {
  position: fixed;
  z-index: 5;
  top: calc(50% - 1px);
  right: 0;
  left: 0;

  display: block;

  width: 100%;

  content: "";

  border: 1px solid #fff;
}
