.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.myHead {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: calc(100% / 8 * 7);
  min-height: calc(100% / 8 * 7);

  z-index: 2;
  margin: auto;
}
